body {
    background-color: darkcyan;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

#choose {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: inline-block;
}

#btnLine {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: inline-block;
}

#btnEllipse {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: inline-block;
}

#btnRectangle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: inline-block;
}

#style {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: inline-block;
}

#stroke_color {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: inline-block;
}

#line {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    display: inline-block;
}

#stroke_width {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: inline-block;
}

#width {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    display: inline-block;
}

#background_color {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: inline-block;
}

#background {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    display: inline-block;
}

#operation {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: inline-block;
}

#btnSavePNG {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

#btnSaveSVG {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

svg {
    padding: 0px;
    background-color: rgb(255, 255, 255);
    cursor: cell;
    display: block;
    margin: auto;
}

svg rect,
svg ellipse,
svg line {
    fill-opacity: 1;
    stroke-opacity: 1;
}

svg #selectRectangle,
svg #selectEllipse,
svg #selectLine {
    fill: transparent;
    stroke-opacity: 0.6;
    stroke-dasharray: 3, 3;
}