body {
    background-image: url('media/background.jpg');
}

.elements {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

#choose {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    display: inline-block;
    margin-right: 10px;
}

#btnLine {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    display: inline-block;
    background-color: lightblue;
    border-radius: 4px;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

button:active {
    transform: translateY(4px);
}

#btnEllipse {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    display: inline-block;
    background-color: lightblue;
    border-radius: 4px;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

#btnRectangle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    display: inline-block;
    background-color: lightblue;
    border-radius: 4px;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

#style {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    display: inline-block;
    margin-right: 10px;
}

#line {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    display: inline-block;
    margin-right: 10px;
}

#width {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    display: inline-block;
}

#background {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    display: inline-block;
    margin-right: 10px;
}

#operation {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    display: inline-block;
}

svg {
    padding: 0px;
    background-color: rgb(255, 255, 255);
    cursor: cell;
    display: block;
    margin: auto;
    border-radius: 8px;
}

svg rect,
svg ellipse,
svg line {
    fill-opacity: 1;
    stroke-opacity: 1;
}

svg #selectRectangle,
svg #selectEllipse,
svg #selectLine {
    fill: transparent;
    stroke-opacity: 0.6;
    stroke-dasharray: 3, 3;
}

#btnSavePNG {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color: lightblue;
    border-radius: 4px;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

#btnSaveSVG {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color: lightblue;
    border-radius: 4px;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

#btnHelp {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    display: inline-block;
    background-color: lightblue;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}